extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='pid') Patient:
      select#author.form-control(type='select', placeholder='Select Patient' name='pid' required='true' )
        for patient in patient_list
          if medicaltest
            option(value=patient._id selected=(patient._id.toString()==medicaltest.pid.toString() ? 'selected' : false) ) #{patient.name}
          else
            option(value=patient._id) #{patient.name}
    div.form-group
      label(for='time') Time:
      input#author.form-control(type='datetime-local',  name='time' required='true' value=(undefined===medicaltest ? '' : medicaltest.time_update_format))
    div.form-group
      label(for='notes') Notes:
      input#author.form-control(type='textarea',  name='notes' value=(undefined===medicaltest ? '' : medicaltest.notes))

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg